#DATABASE_URL="file:./dev.db"
# Conexión a tu Supabase (webagro)
DATABASE_URL="postgresql://postgres.hvytnzaahlobuamrwsdd:cARLOS1103098199@aws-0-us-east-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres:cARLOS1103098199@db.hvytnzaahlobuamrwsdd.supabase.co:5432/postgres"

# Credenciales Públicas de tu Supabase
NEXT_PUBLIC_SUPABASE_URL="https://hvytnzaahlobuamrwsdd.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="sb_publishable_hFhT3RG2w5GcPGmX-7weEA_q-cStON8"
